aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.6.0
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
discord.py==1.7.3
gevent==21.8.0
gevent-eventemitter==2.1
greenlet==1.1.2
idna==3.3
multidict==5.2.0
protobuf==3.19.1
pycodestyle==2.8.0
pycparser==2.21
pycryptodomex==3.11.0
python-dotenv==0.19.1
requests==2.26.0
six==1.16.0
steam==1.2.0
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
vdf==3.4
yarl==1.7.2
zope.event==4.5.0
zope.interface==5.4.0
